@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1 {
    color: deeppink;
   font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: bolder;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 16px;
}

h2 {
    color: deeppink;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

h3 {
    color: darkturquoise;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}

h4 {
    color:black;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}
p  {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 16px;
    line-height: 18px;
    
}

body{
    margin: 0;
    font-family: 'Inconsolata', monospace;
    background-color: rgb(200, 249, 255);
    color: white;  
}

/*animación*/

@keyframes move{
    0%{
        transform: translate(0) translateZ(0)
    }
    50%{
        transform: translateY(10px) translateZ(0)}
        to{transform: translate(0) translateZ(0)}
}

@keyframes aparece {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
  
/*header*/

.marcaImg {
    height: 70px;
    width: 90px;
    margin: 3px;
    padding: 5px;
}


.barra {
    background-color: rgb(255, 204, 231);
    text-align: center; 
    padding: 2px;  
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.textoNav {
    margin: auto;
    overflow: hidden;
    grid-column: 2/7;
    display: flex;
    
}
   
.textoNav> li {
    display: flex;
   justify-content: center;
   margin: 4px 50px;
   font-size:  22px; 
}

.textoNav> li > a {
    display: flex;
   padding: 8px;
   color: black;
   text-decoration: none;
   font-family: 'Gugi';
}

.textoNav> li > a:hover {
    color: darkturquoise
}

/*hero section*/

.hero1 {
    height: 600px;
    display: grid;
    place-items: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://cdn.wallpapersafari.com/48/10/8fnYEi.jpg)
}

.hero1 h1 {    
    color: deeppink;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 60px;   
    line-height: 1.3; 
    animation-name: aparece;
    animation-duration: 2s; 
}

.hero1 p {  
    color: black;  
    text-align: center;
    font-family: 'Gugi';
    font-size: 20px;
    animation-name: aparece;
    animation-duration: 6s;     
     
}


.hero1 button{
    background-color: aliceblue;
   background-image: linear-gradient(plum,rgb(200, 249, 255));
   border-color:rgb(200, 249, 255);
   border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
  justify-content: center;
  align-items: center;
  text-align: center;
   padding: 10px;
   margin: 4%;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

/*main*/

.principal{
    margin-bottom: 10%;
    display: flex;  
    flex-flow: row wrap;  
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 249, 255);
}

.principal h2{    
    width: 100%;
    margin: 4%;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 45px;   
}

.video1{
    width: 700px;  
    
}

.videoImg{
    display: flex;
    align-items: center;
}
.videoImg .subTitulo{
    font-family: 'Press Start 2P';
    color:plum;
    font-size: 50px;
    line-height: 1.2;
    margin-left: -140px;
   
}

/* infromación */

.presetación{
    display: flex;
    justify-content: space-evenly;
}

.presetación section{
flex-basis: 40%;
}
.presetación aside{
    flex-basis: 30%;  
    position: relative;  
}

.presetación aside img{
    height: 350px;
    width: 500px;
    background-color: plum;
    border-radius: 6px;
	padding: 10px;
    margin: 2px;   
}

.infoYo{
    margin-left: 40px;
    line-height: 1.5;
    background-color: deeppink;
    border-radius: 6px;      
}

.infoYo h3{ 
    margin-block-start: 0;
    margin-block-end: 0; 
    background-color: plum;
    color: black;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 28px;
    border-radius: 2px;
   
}

.cuerpoYo{    
    margin-block-start: 5px;  
    font-size: 15px; 
    padding-bottom: 18px;
    padding-left: 12px;
    color: black; 
    line-height: 1.5;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.infoYo3{
    margin-left: 60px;
    margin-right: 30px;
    justify-content: center;
    line-height: 1.5;
    margin-top: 30px;
    background-color: darkturquoise;
    border-radius: 6px;      
}

.infoYo3 h3{ 
    margin-block-start: 0;
    margin-block-end: 0; 
    background-color: deeppink;
    color: black;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 24px;
    border-radius: 2px;
   
}

.infoYo3 h4{
    font-family: 'Press Start 2P';
    text-align: center;
    color: rgb(200, 249, 255);
    font-size: 14px;
}


.cuerpoYo2{    
    margin-block-start: 5px;  
    font-size: 15px; 
    padding-bottom: 12px;
    padding-left: 12px;
    color: black; 
    line-height: 1.5;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* diseños */

.diseño {
    display: grid;
     grid-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    margin: 80px 40px ;
}

.diseño h1 {
    margin-block-start: 0;
    margin-block-end: 0; 
    color: darkturquoise;
    margin-block-start: 10px; 
    text-align: center;
    font-family: 'Gugi';
    font-size: 26px;
    line-height: 1.4; 
    border-radius: 2px;
}

.diseño p {    
    margin-block-start: 10px;  
    font-size: 16px; 
    padding-bottom: 8px;
    padding-left: 4px;
    color: black; 
    line-height: 1.5;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

  .visual {
    height: 150px;
    width: 100%;
    border-radius: 10px;
    margin: 8px 0;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(255, 204, 231);
    border-radius: 20px;
    padding: 10px;
    
  }
  .card:hover { 
    background-color: plum;
}
  
/* perfil */

.presetación2{
    display: flex;
    justify-content: space-evenly;
    margin: 60px;
}

.presetación2 section{
flex-basis: 40%;
}
.presetación2 aside{
    flex-basis: 20%;  
    position: relative;  
}

.presetación2 aside img{
    height: 350px;
    width: 500px;
    background-color: plum;
    border-radius: 6px;
	padding: 18px;
    margin: 30px;   
}

.infoYo2{
    margin-left: 10px;
    line-height: 1.5;
    background-color: deeppink;
    border-radius: 6px;      
}

.infoYo2 h3{ 
    margin-block-start: 0;
    margin-block-end: 0; 
    background-color: plum;
    color: black;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 28px;
    border-radius: 2px;
   
}

.cuerpoYo4{    
    margin-block-start: 5px;  
    font-size: 15px; 
    padding-bottom: 18px;
    padding-left: 12px;
    color: black; 
    line-height: 1.5;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.infoYo4{
    margin-left: 10px;
    margin-right: 50px;
    line-height: 1.5;
    margin-top: 30px;
    background-color: darkturquoise;
    border-radius: 6px;      
}

.infoYo4 h3{ 
    margin-block-start: 0;
    margin-block-end: 0; 
    background-color: deeppink;
    color: black;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 24px;
    border-radius: 2px;
   
}

.cuerpoYo4{    
    margin-block-start: 5px;  
    font-size: 15px; 
    padding-bottom: 12px;
    padding-left: 12px;
    color: black; 
    line-height: 1.5;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* porfolio */

.tituloP {    
    color: deeppink;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 50px;   
    line-height: 1.3;  
}

.porfolioFoto{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-top: 10px;
    grid-gap: 10px;
    
}
.porfolioFoto img{
    width: 100%;
    animation-name: aparece;
    animation-duration: 6s; 
}

/* servicios */

.serviciosSub{
    text-align: center;
    display: block;
    color: darkturquoise;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 30px;   
    line-height: 1.3;
    margin-top: 20px; 
    margin-bottom: 20px;
}

.serviciosSub2{
    text-align: center;
    display: block;
    color: plum;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 30px;   
    line-height: 1.3;
    margin-top: 50px; 
}



/* tienda */

.tituloT {    
    color: deeppink;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 50px;   
    line-height: 1.3;  
}

.carrito{
    position: absolute;
    right: 2rem;
}   

.fondoT{ 
    background-color: plum;
    padding: 60px 0;
    margin-top: 30px;    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);     
    grid-row-gap: 60px; 
    border-radius: 20px;     
}

.fondoT article{    
    font-size: 16px;   
    display: grid;
    grid-template-columns: auto; 
    grid-template-rows: auto auto auto auto;
    align-items: center;  
    justify-items: center; 
    grid-gap: 12px;   
    
}

.boton2 {
    padding: 6px;
    border-color:deeppink;
    background-color: deeppink;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.boton2:hover{
    border-color: white;  
    background-image: linear-gradient(plum,rgb(200, 249, 255));
}

.fondoT img{   
    grid-row: 1;   
}
.fondoT .descripción {   
    grid-row: 2;   
}
.fondoT.precio {   
    grid-row: 3;   
}
.fondoT button{   
    grid-row: 4;
    padding: 6px;
    margin: 10px;
}


/* adios */

.adios {  
    padding: 30px 0; 
    margin-top: 40px;   
    margin-bottom: 40px;
    margin-left: 400px;
    margin-right: 400px;   
    background-color: rgb(255, 204, 231);
    border-radius: 20px;
    display: flex;  
    justify-content: center; 
}

.adios img {  
    flex-basis: 20%; 
    padding-left: 20px;  
}

.adios h3 {  
    flex-basis: 20%; 
    padding-left: 20px; 
    text-align: center;
    color: darkturquoise;
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 30px;   
    line-height: 1.3;
    margin-top: 20px; 
    margin-bottom: 20px;
} 



/* footer */

footer {  
    padding: 30px 0; 
    margin-top: 60px;   
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;   
    background-color: plum;
    border-radius: 20px;
    display: flex;  
    justify-content: center; 
}
footer p{
    margin-bottom: 13px;
}

.seguir{
    flex-basis: 40%; 
    padding-left: 40px;  
   
}
.seguir h2,p{
    flex-basis: 100%;
}

.seguir h2{
    color: black;
    font-family: 'Press Start 2P';
    font-size: 22px;
}

.seguir p{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

.contacto{
    flex-basis: 80%;
}
.contacto form{
   display: grid;
   grid-template-rows: 30px 30px 30px;
   grid-template-columns: auto auto;
   align-content: center;   
   grid-gap:20px
} 

.contacto h2{
    color: black;
    font-family: 'Press Start 2P';
    font-size: 22px;
    margin: 4px;
 } 
.contacto .nombre {
    grid-row: 1/2;
    grid-column: 1/2;
}
.contacto .emailContacto{
    grid-row: 2/3;
    grid-column: 1/2;
}
.contacto textarea{
    grid-row: 1/4;
    grid-column: 2/3;
}
.contacto button {  
    grid-row: 3/4;
    grid-column: 1/2;
    justify-self: start;
}
.boton{
    padding: 6px;
    border-color:deeppink;
    background-color: deeppink;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.boton:hover{
    border-color: white;  
    color: white;  
    background-color: darkturquoise;
}

input,textarea{
    padding: 10px;
    border-radius: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(200, 249, 255);

}

.social-media {
    list-style: none; 
    padding: 2px; 
    margin: 16px; 
    display: flex;
    justify-content: flex-start;
    
  }
  
  .social-media li {
    background: darkturquoise; 
    color: white; 
    height: 50px; 
    width: 50px; 
    text-align: center; 
    border-radius: 50%; 
    line-height: 50px;
    margin: 0px 10px; 
  }

  .social-media li:hover {
    background: deeppink; 
}




/*media*/

@media screen and (min-width: 1024px) {   
}

@media screen and (max-width: 320px) {   
}